// Put your custom SCSS code here

.header-bar {
  border-top: 8px solid;
  border-image-source: linear-gradient(83.21deg, #003c78 0%, #0163c5 100%);
  border-image-slice: 1;
}

@include color-mode(dark) {
  .header-bar {
      border-top: 8px solid;
      border-image-source: linear-gradient(83.21deg, #003c78 0%, #0163c5 100%);
      border-image-slice: 1;
  }
}

#front-header {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// $logo-outline-color: #22365e;

.logo {
  margin-right: 2rem;
  // filter: drop-shadow(4px 0 0 $logo-outline-color) drop-shadow(0 4px 0 $logo-outline-color) drop-shadow(-4px 0 0 $logo-outline-color) drop-shadow(0 -4px 0 $logo-outline-color);
  width: 20%;
  height: auto;
}

.list-content {
  font-size: small
}

@import "_about";

@import "_people";
