// Put your custom SCSS variables here

// Light mode
// $primary: #003c78;

// Dark mode
// $link-color-dark: #0163c5;
// $button-color-dark: #0163c5;

  $landing-box1-color: #a5bae4;
  $landing-box2-color: #6981b4;
  $landing-box3-color: #294273;
  $landing-box4-color: #111b2f;


:root,
::backdrop {
  --sl-color-accent-high: #0163c5;
}
